{%extends "base.html" %}

{% block content %}
<div class="container-fluid">
<h1 style="text-align: justify;">Регистрация</h1>
<br>
<form action="" method="post">
   {{ form.csrf_token }}
   <div>
      Логин:
      {{ form.username(placeholder="логин") }}
      {% for error in form.username.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div>
      Пароль:
      {{ form.password1(placeholder="пароль") }}
      {% for error in form.password1.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div>
      Подтвердите пароль:
      {{ form.password2(placeholder="Подтвердите пароль") }}
      {% for error in form.password2.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div>{{ form.submit(class_="btn btn-info", value="Зарегистрироваться") }}
   </div>
</form>
<p></p>
<p><a href="{{ url_for('login') }}">Уже есть аккаунт?</a></p>
</div>
{% endblock %}